.main-container {
  margin: auto;
  padding: 2rem;
  display: flex;
  width: 50%;
  margin-top: 3rem;
}

.form-header {
  margin-block: 1.5rem;
}

.form-email__title {
  font-size: 2.56rem;
}

.email-subtitle__primary {
  font-size: 20px;
}

.email-subtitle__secondary {
  font-size: 16px;
}

/* --------- customer field input --------- */

.form-data__field {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  width: 100%;
}

.form-data__singleField {
  flex-basis: 45%;
}

@media screen and (max-width: 1240px) {
  .form-data__input {
    border: rgb(59, 58, 58) solid 1px;
    transition: 0.3s ease;
    background-color: white;
    width: 28rem;
  }
  .form-data__singleField {
    flex-basis: 100%;
  }
}

.field-label {
  font-size: 0.875rem;
  font-weight: 400;
}

.obligatory-data {
  font-size: 0.75rem;
  color: #666;
}

.form-data__input {
  margin-right: 16rem;
  padding: 1rem;
  border-radius: 4px;
  border-style: none;
  border: rgb(59, 58, 58) solid 1px;
  transition: 0.3s ease;
  background-color: white;
  width: 90%;
}
