.main-container {
  margin: auto;
  padding: 2rem;
  display: flex;
  width: 50%;
  margin-top: 3rem;
  font-family: "Dosis", sans-serif;
}

.form-header {
  margin-block: 1.5rem;
}

.form-email__title {
  font-size: 2.56rem;
}

.email-subtitle__primary {
  font-size: 20px;
}

.email-subtitle__secondary {
  font-size: 16px;
}

/* --------- customer field input --------- */

.form-input__subtitle {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0;
}

.form-data__field {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  width: 102%;
  margin: 0;
}

.form-data__singleField {
  flex-basis: 45%;
}

@media screen and (max-width: 1240px) {
  .main-container {
    width: 90%;
    display: block;
    margin: 3%;
  }
  .form-container {
    width: 100%;
    flex-basis: 100%;
  }
  .form-data__input {
    border: rgb(59, 58, 58) solid 1px;
    transition: 0.3s ease;
    background-color: white;
    width: 50%;
  }

  .select-data__input {
    padding: 1rem;
    border-radius: 4px;
    border-style: none;
    border: rgb(59, 58, 58) solid 1px;
    transition: 0.3s ease;
    background-color: white;
    width: 100%;
  }

  .request-data__input,
  .form-request__field {
    display: flex;
    flex-flow: column;
  }
  .form-data__field {
    display: block;
    flex-flow: row wrap;
    gap: 2rem;
    width: 95%;
    margin: 0;
    font-size: 0.8rem;
  }
  .form-request__field {
    display: block;
    flex-flow: row wrap;
    gap: 2rem;
    width: 100%;
    margin: 0;
  }

  .request-button {
    width: 100%;
  }
}

.field-label {
  font-size: 0.9rem;
  font-weight: 400;
}

.obligatory-data {
  font-size: 0.75rem;
  color: #666;
}

.form-data__input,
.request-data__input {
  padding: 1rem;
  border-radius: 4px;
  border-style: none;
  border: rgb(59, 58, 58) solid 1px;
  transition: 0.3s ease;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.request-data__input:disabled {
  background-color: #cccccc;
  border: #666666;
  color: #666666;
  cursor: not-allowed;
}
/* --------- customer request input --------- */

.form-request__field {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  width: 100%;
}

.form-request__singleField {
  flex-basis: 45%;
}

.form-request__messageField {
  width: 95.5%;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .request-button {
    width: 100%;
  }

  .send-request__button-wrapper {
    width: 100%;
  }
}

.message-data__input {
  padding: 1rem;
  border-radius: 4px;
  border-style: none;
  border: rgb(59, 58, 58) solid 1px;
  transition: 0.3s ease;
  background-color: white;
  width: 99.6%;
  height: 150px;
  box-sizing: border-box;
  font-size: 1rem;
}

.request-sending__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
}

.send-request__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.request-button {
  font-weight: 600;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #188803;
  padding: 1rem;
  border-radius: 4px;
  border: solid 2px #188803;
  width: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.request-button:disabled {
  background-color: #cccccc;
  border: #666666;
  color: #666666;
  cursor: not-allowed;
}
